<h1 class="title">
  <span class="line1">You are going to {{citySelected}}</span>
</h1>
<div class="content">
  <div class="search-container">
    <mat-form-field class="city-field" appearance="outline">
      <mat-label>Choose a city</mat-label>
      <input
        type="text"
        placeholder="Type a city"
        aria-label="City"
        matInput
        [formControl]="cityControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let city of cities" [value]="city.name">
          {{ city.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- Datepicker -->
    <mat-form-field appearance="outline" class="date-field">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="dateSelected" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <button mat-icon-button
            matTooltip="Search"
            class="search-btn" (click)="searchCity()">
      <mat-icon>travel_explore</mat-icon>
    </button>
</div>
</div>
<div class="content">
  <p class="prediction-text" *ngIf="prediction_gen">
    {{ prediction_gen }}
  </p>
</div>

<div class="weather-row">
  <!-- Temperatura -->
  <div class="weather-item">
    <img src="temp.png" alt="Temperature" />
    <div class="weather-text">
      <p>Temperature</p>
      <p>Max: {{ temperature.max }}°</p>
      <p>Min: {{ temperature.min }}°</p>
      <p>Mean: {{ temperature.mean }}°</p>
    </div>
  </div>

  <!-- Lluvia -->
  <div class="weather-item">
    <img src="rain.png" alt="Rain" />
    <div class="weather-text">
      <p>Will it rain?</p>
      <p [ngClass]="rainLevelClass(mm)">{{ rainLevelText(mm) }}</p>
      <p>mm: {{ mm }}</p>
    </div>
  </div>

  <!-- Nubes -->
  <div class="weather-item">
    <img src="cloud.png" alt="Cloud Cover" />
    <div class="weather-text">
      <p>Cloud Cover</p>
      <p>{{ cloudCover }}%</p>
    </div>
  </div>
</div>


