<div class="content">
  <h1 class="title">
    <span class="line1">What Activities</span>
    <span class="line2">Are You Looking For??</span>
  </h1>

  <div class="search-container">
    <mat-form-field class="city-field" appearance="outline">
      <mat-label>Choose activities you wanna do</mat-label>
      <mat-select [(value)]="selectedCities" multiple>
        <mat-option *ngFor="let city of cities" [value]="city">
          {{ city.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-icon-button
            matTooltip="Search"
            class="search-btn">
      <mat-icon>travel_explore</mat-icon>
    </button>
  </div>



  <div class="search-container">
    <img src="brand.png" alt="Logo" class="logo" />
  </div>

</div>
