<mat-tab-group class="navbar" backgroundColor="primary">
  <mat-tab label="Destination"></mat-tab>
  <mat-tab label="Activities"></mat-tab>
  <mat-tab label="Globe"></mat-tab>
  <mat-tab label="About"></mat-tab>
</mat-tab-group>


<!-- Main content -->
<div class="content">
  <h1 class="title">
    Where is the <span class="highlight"><br>adventure today??</span>
  </h1>

  <!-- Search bar -->
  <div class="search-bar">
    <mat-form-field appearance="outline" class="search-input">
      <input matInput placeholder="Write your destination">
    </mat-form-field>
    <button mat-icon-button color="primary" class="search-btn">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <img src="brand.png" alt="WetRoute Logo" class="logo">
</div>
